<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Goods List</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>-->
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
<div class="panel panel-default">
    <div class="panel-heading">Item Details</div>
    <div class="panel-body">
        <span th:if="${user eq null}">You are not signed in. Please sign in first.&#10;def</span>
        <span>The delivery address is empty.</span>
    </div>
    <table class="table" id="goodsList">
        <tr>
            <td>Item Name</td>
            <td colspan="3" th:text="${goods.goodsName}"></td>
        </tr>
        <tr>
            <td>Item Image</td>
            <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200"/></td>
        </tr>
        <tr>
            <td>Snap-up Start Time</td>
            <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td id="snapupTip">
                <input type="hidden" id="remainSeconds" th:value="${remainSeconds}"/>
                <span th:if="${snapupStatus eq 0}">Snap-up Countdown: <span id="countDown"
                                                                            th:text="${remainSeconds}"></span> Seconds</span>
                <span th:if="${snapupStatus eq 1}">Snapping-up has started!</span>
                <span th:if="${snapupStatus eq 2}">Snap-up has ended</span>
            </td>
            <td>
                <form id="snapupForm" method="post" action="/snapup/do_snapup">
                    <button class="btn btn-primary btn-block" type="submit" id="buyButton">Order Now</button>
                    <input type="hidden" name="goodsId" th:value="${goods.id}"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>Original Price</td>
            <td colspan="3" th:text="'£'+${goods.goodsPrice}"></td>
        </tr>
        <tr>
            <td>Snap-up Price</td>
            <td colspan="3" th:text="'£'+${goods.snapupPrice}"></td>
        </tr>
        <tr>
            <td>Stock</td>
            <td colspan="3" th:text="${goods.stockCount}"></td>
        </tr>
    </table>
</div>
</body>

<script>
    // MOST WIRED CODE! MUST CHECK IT!
    $(function () {
        countDown();
    });

    function countDown() {
        var remainSeconds = $("#remainSeconds").val();
        var timeout;
        if (remainSeconds > 0) {
            $("#buyButton").attr("disabled", true);
            timeout = setTimeout(function () {
                $("#countDown").text(remainSeconds - 1);
                $("#remainSeconds").val(remainSeconds - 1);
                countDown();
            }, 1000);
        } else if (remainSeconds == 0) {
            $("#buyButton").attr("disabled", false);
            if (timeout) {
                clearTimeout(timeout);
            }
            $("#snapupTip").html("Snapping-up has started!");
        } else {
            $("#buyButton").attr("disabled", true);
            $("#snapupTip").html("Snap-up has ended");
        }
    }

</script>
</html>