<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Details</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

    <!--jquery-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!--jquery-validation-->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!--layer-->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!--md5.js-->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!--common.js-->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>

<body>
<div class="panel panel-default">
    <div class="panel-heading">Order Details</div>
    <table class="table" id="goodsList">
        <tr>
            <td>Item Name</td>
            <td colspan="3" th:text="${goods.goodsName}"></td>
        </tr>
        <tr>
            <td>Item Image</td>
            <td colspan="2"><img th:src="@{${goods.goodsImg}}" width="200" height="200"/></td>
        </tr>
        <tr>
            <td>Order Price</td>
            <td colspan="2" th:text="${'£'+orderInfo.goodsPrice}"></td>
        </tr>
        <tr>
            <td>Order Creation Time</td>
            <td colspan="2" th:text="${#dates.format(orderInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>Order Status</td>
            <td>
                <span th:if="${orderInfo.status eq 0}">Unpaid</span>
                <span th:if="${orderInfo.status eq 1}">Paid</span>
                <span th:if="${orderInfo.status eq 2}">Dispatched</span>
                <span th:if="${orderInfo.status eq 3}">Received</span>
                <span th:if="${orderInfo.status eq 4}">Refunded</span>
                <span th:if="${orderInfo.status eq 5}">Finished</span>
            </td>
            <td>
                <button class="btn btn-primary btn-block" type="submit" id="payButton">Pay Now</button>
            </td>
        </tr>
        <tr>
            <td>Customer</td>
            <td colspan="2">+86 18912341234</td>
        </tr>
        <tr>
            <td>Delivery Address</td>
            <td colspan="2">374 Queenstown Road, SW8 4PJ</td>
        </tr>
    </table>
</div>

</body>
</html>